<div class="card">
    <div class="card-header row justify-content-center">
        {{pageTitle}}
    </div>
    <div class="card-body">
    <div class = 'table-responsive'>
        <table class="table table-hover" *ngIf="stations.length" >
            <thead>
                <tr>
                     <th>Station Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let station of stations">
                    <td>{{station.name}}</td>
                    
                </tr>
            </tbody>
        </table>

    </div>
</div>

