<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/createTrip">Create Trip</a>
      <a class="nav-item nav-link" href="/updateTrip">Update Trip</a>
      <a class="nav-item nav-link" href="/deleteTrip">Delete Trip</a>
      <a class="nav-item nav-link" routerLink="/viewTrips">View Trips</a>
      <a class="nav-item nav-link" routerLink="/viewStations">View Stations</a>
    </div>
  </div>
</nav>